<section>
    <div class="container">
        <form action="/admin/add-link" method="POST">
            <div class="row w-50 mt-4">
                <div class="text-center w-100">
                    <h3 class="font-weight-bold">Add link </h3>
                </div>
                {{#if LinkError}}
                    <div class="col-12">
                    <label style="color: red;">{{LinkError}} (no more than one)</label>
                    {{!-- <input type="url" class="form-control" name="link" value="" /> --}}
                </div>
                {{/if}}
                <div class="col-12">
                    <label>Add Link</label>
                    <input type="url" class="form-control" name="link" value="" />
                </div>
                {{!-- <div class="col-12">
                    <label>Category</label>
                    <input type="text" class="form-control" name="category" value="{{product.category}}" />
                </div>
                <div class="col-12">
                    <label>Price</label>
                    <input type="text" class="form-control" name="price" value="{{product.price}}" />
                </div> --}}
                <div class="col-12">
                    <label>Description</label>
                    <input type="text" class="form-control" name="description" value="" />
                </div>
                {{!-- <div class="col-12">
                    <label>Image</label>
                    <img src="/product-images/{{product._id}}.jpg" style="width: 100px;height: auto;    width: 101px; padding-top: 2rem; padding-bottom: 2rem; margin-left: 2rem; height: auto;" id="imgView">
                    <input type="file" class="form-control" name="image" onchange="viewImage(event)" />
                </div> --}}
                <div class="ml-3" style="padding-bottom:2rem">
                    <button type="submit" class="btn btn-success mt-3">Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>

