<section>
  <div class="container">
    <table class="table mt-4">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email Address</th>
          <th scope="col">Placed</th>
          <th scope="col">Shipped</th>
        </tr>
      </thead>
      <tbody>
        {{#each userData}}
        <tr>
          <td>{{this.name}}</td>
          <td>{{this.emailaddr}}</td>
          <td><a href="/admin/orders/{{this._id}}" class="btn btn-primary">Placed</a></td>
          <td><a href="/admin/shipped/{{this._id}}" class="btn btn-success">Shipped</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>