<header style="padding-bottom: 3.5rem;">
  <nav class="navbar navbar-expand-md navbar-light" style="position: fixed;width: 100%;z-index: 50;background-color: #0c102e;">
    <a class="navbar-brand" href="/"><span style="color: #20db63;">Explo</span><span style="color: white;">Kart</span></a>
    <button class="navbar-toggler" style="background-color: darkgray;" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="justify-content:flex-end;align-content:center;">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-center text-white" href="/">Products<span class="sr-only">(current)</span></a>
        {{#if user}}
        <a class="nav-item nav-link text-center text-white" href="/orders">Orders</a>
        {{/if}}
        <a class="nav-item nav-link text-center text-white" href="/cart"><i class="fas fa-shopping-cart"></i>Cart<span class="badge badge-pill badge-danger ml-1" id="cart-increase-count">{{cartCount}}</span></a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-center text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{#if user}}
            {{user.name}}
            {{else}}
            Account
            {{/if}}
          </a>
          <div class="dropdown-menu enteStYlE " id="enteStYlE" aria-labelledby="navbarDropdown"
            style=" position: absolute;top: 50px;right: 25px;left: auto;">
            {{#if user}}
            <a class="dropdown-item" href="/logout">LogOut</a>
            <a class="dropdown-item" href="/edit-profile">Edit</a>
            <a class="dropdown-item" href="admin/">Admin</a>
            {{else}}
            <a class="dropdown-item" href="/login">Login</a>
            <a class="dropdown-item" href="/signup">SignUp</a>
            <a class="dropdown-item" href="/admin">Admin</a>
            {{/if}}
          </div>
        </li>
      </div>
    </div>
  </nav>
</header>