  <section>
    <div class="container-fluid">
      <div class="row" style="margin: 20px 30px;margin-top:60px">
        {{#each response}}
        <div class="hover" style="width: 100%;margin-bottom: 25px;/* background-color: skyblue; */display: flex;height: 55px;align-items: center;padding: 35px 0px;border: 1px solid #dfdcdc;border-radius: 12px;justify-content: space-between;    box-shadow: 0px 0px 18px 4px #e9e4e4;">
          <div style="    display: flex;align-items: center;padding: 30px;width: 100%;">
            <div style="padding: 9px;">
              <img src="/category-images/{{this._id}}.jpg" width="65px " height="50px" alt="">
            </div>
            <div style="width: 100%;text-align: center;">
              <a style="color: black;text-decoration: none;" href="/subcategories/{{this._id}}/{{this.name}}">
                <p style="margin-top: unset;margin-bottom: unset;font-weight: 500;font-size: 18px;font-weight: 900">{{this.name}}</p>
              </a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </section>

  <style>
    .hover:hover {
      border: 1px solid green !important;
      transform: scale(1.0);
    }

    .button:hover {
      background-color: green !important;
      color: white !important;
    }

    @media (max-width:440px) {
      .hover {
        width: auto !important;
      }
    }
  </style>