<section class="text-center " style="margin-top: 8rem;">
    <h3 class="mt-5" style="font-size: 2rem;">Order Placed Successfully</h3>
    <a href="/orders" class="btn btn-primary" style="margin-top: 1rem;">View Orders</a>
</section>