<section>
    <div class="container">
        <form action="" id="checkout-form" name="checkout-form">
            <div class="row d-flex" style="justify-content: space-around;align-items: center;">
                <div class=" w-50 mt-5">
                    <div class="text-center w-100" style="    background-color: #d1d1d1;height: 50px;display: flex;align-content: flex-start;justify-content: center;align-items: center;">
                        <a class="font-weight-bold" style="font-size: 20px;">Enter Delivery Details</a>
                    </div>
                    <div style="    box-shadow: 0px 0px 20px 3px #cbc3c3;padding-bottom: 35px;">
                        <div class="col-12">
                            <label style="position: static!important;color: black!important;font-size: 15px!important">Address</label>
                            <input type="text" class="form-control" name="address" required />
                        </div>
                        <div class="col-12">
                            <label style="position: static!important;color: black!important;font-size: 15px!important">Pincode</label>
                            <input type="number" class="form-control" name="pincode" required/>
                        </div>
                        <div class="col-12">
                            <label style="position: static!important;color: black!important;font-size: 15px!important">Mobile</label>
                            <input type="number" class="form-control" name="mobile" required />
                        </div>
                        <div>
                            <input type="text" value="{{user._id}}" name="userId" hidden>
                        </div>  
                    </div>
                </div>
                <div class="">
                    <div class="mt-5" style=" width: 360px; height: 225px;    box-shadow: 1px 0px 30px 0px #ddd7d7;">
                        {{#each total}}
                        <h5 class="text-center pt-3">Total Amount: Rs.{{this.total}}</h5>
                        {{/each}}
                        <hr class="w-75">
                        <a href="" class="pl-4" style="text-decoration: none;color:black;">Payment method</a><br>
                        <input class="mt-2 ml-4" type="radio" name="payment" value="COD" required> COD <br>
                        <input class="ml-4" type="radio" name="payment" value="online-payment"> Online Payment <br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mt-3 float-right mr-5">Check Out</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script>
    $('#checkout-form').submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
              //console.log('ajax respnse :  ',response)
                //alert('hy')
               
                if (response.codSuccess) {
                    location.href = '/order-success'
                }else{
                     //console.log(response)
                    razorpayPayment(response)
                }
            }
        })
    })

    function razorpayPayment(order){
        //alert('kayarii')
        //alert(order)
          //console.log('rZORPyPayment: :  ',order)
          //console.log(order.amount)
          console.log(order.amount)
          console.log(order.id)
        var options = {
    "key": "rzp_test_oRITPCrINBQtUV", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Nihad",
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
       // alert('funcryion')
      console.log('haloooooooooooo')
       // alert(response.razorpay_payment_id);
        //alert(response.razorpay_order_id);
        //alert(response.razorpay_signature);
//alert('ippam kayum');
      verifyPayment(response,order);
      ///  alert('kayinju');
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
 rzp1.open();

    }
    function verifyPayment(payment,order){
        //console.log('haloooooooo')
        $.ajax({
            url: '/verify-payment',
            method: 'post',
            data: {
                payment:payment,
                order:order
            },
            success:(response)=>{
               
                if(response.status){
                     location.href = '/order-success'
                }else{
                    alert('Payment failed')
                    location.href('/')
                }
            }
            
        })
    }
</script>